<!-- Display notices. -->
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Dashboard</h1>
It's <%= Time.now %>
You have <%= pluralize(@total_orders, "order") %>.
<p>
  <%= link_to 'View My Orders', orders_path %>
</p>
