<h3>Depot App Order Shipped</h3>
<p>
  This email is to let you know that we've shipped your recent order:
</p>

<table>
  <tr>
    <th colspan="2">Qty</th>
    <th>Description</th>
    <%= render @order.line_items -%>
  </tr>
</table>