<header class="navbar navbar-fixed-top navbar">
	<div class="container">
		<%= link_to "depot app", home_path, id: "logo", title: "Home" %>
		<nav>
			<ul class="nav navbar-nav pull-right">
				<li><%= link_to "About", about_path, id: "navbar-link" %></li>
				<li><%= link_to "Help", help_path, id: "navbar-link" %></li>
				<li><%= link_to "Log in", login_path, id: "navbar-link" %></li>
			</ul>
		</nav>
	</div>
</header>